* {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #e9f1fa; /* fondo más claro */
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa; /* fondo principal claro */
    display: grid;
    place-content: center;
    color: #222c3a; /* texto oscuro */
    min-height: 100vh;
    font-size: 3rem;
}

h1, p {
    text-align: center;
    color: #2563eb; /* azul para títulos y párrafos */
}